<form action="/post" method="post" class="well form-inline " style="text-align:center;">
	<input type="text" class="form-control" name="post" style="width:80%;margin-right:5px;left:-30px;position:relative;" placeholder="微博内容">
	<button type="submit" class="btn btn-success">发布</button>
</form>